aiohttp==3.7.3 # наш фрейворк
aiohttp-jinja2==1.5 # модуль для работы с HTML-шаблонами
gino==1.0.1 # модуль для выполнения запросов в базу данных
alembic==1.5.2 # модуль для генерации миграций
PyYAML==5.4.1 # модуль для работы с yaml-файлами
psycopg2==2.9.1 # модуль, необходимый для проведения миграций
